<section id="tow-combat-overlay-control-panel" class="tow-combat-overlay-control-panel" aria-label="Combat control panel">
  <div class="tow-combat-overlay-control-panel__statuses" data-selection="none">
    <div class="tow-combat-overlay-control-panel__statuses-top">
      <div class="tow-combat-overlay-control-panel__item-group tow-combat-overlay-control-panel__status-abilities" data-item-group="abilities">
        <div class="tow-combat-overlay-control-panel__group-grid tow-combat-overlay-control-panel__status-abilities" data-item-group="abilities"></div>
      </div>
      <div class="tow-combat-overlay-control-panel__item-group tow-combat-overlay-control-panel__status-abilities" data-item-group="temporaryEffects">
        <div class="tow-combat-overlay-control-panel__group-grid tow-combat-overlay-control-panel__status-abilities" data-item-group="temporaryEffects"></div>
      </div>
    </div>
    <div class="tow-combat-overlay-control-panel__statuses-bottom">
      {{#each statuses}}
        <div class="tow-combat-overlay-control-panel__status-icon" data-status-id="{{this.id}}">
          <img src="{{this.img}}" alt="{{this.label}}" />
        </div>
      {{/each}}
    </div>
  </div>
  <div class="tow-combat-overlay-control-panel__item-groups">
    <div class="tow-combat-overlay-control-panel__group-grid" data-item-group="actions"></div>
    <div class="tow-combat-overlay-control-panel__group-grid" data-item-group="manoeuvre"></div>
    <div class="tow-combat-overlay-control-panel__group-grid" data-item-group="recover"></div>
    <div class="tow-combat-overlay-control-panel__group-grid" data-item-group="attacks"></div>
    <div class="tow-combat-overlay-control-panel__group-grid" data-item-group="magic"></div>
  </div>
</section>
