<div class="tow-combat-overlay-panel">
  <div class="tow-combat-overlay-panel__header">{{attackListHeader}}</div>
  <div class="tow-combat-overlay-panel__body">
    {{#if buttonMarkup}}
      {{{buttonMarkup}}}
    {{else}}
      <div class="tow-combat-overlay-panel__empty">{{noAttacks}}</div>
    {{/if}}
  </div>
</div>
